body{
background-image: url(images/bg.png);
background-size: fill;
color: white;
}
table{
color: white;
}
td, th { 
padding: .3em;
text-align:center; 
}
#big-text{
font-size: 34px;
}
#small-text{
font-size: 18px;
}

.leftimg {
float:left; /* Выравнивание по левому краю */
margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
}
.link{
color: white;
text-decoration: none;
}
