body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0
}

fieldset, img {
    border: 0
}

a:focus {
    outline: none
}

html {
    min-height: 100%
}

body {
    overflow-y: scroll
}

p {
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: justify;
}

ul, ol, dl {
    margin: 10px 0;
    padding-left: 30px
}

dl {
    margin: 10px 0
}

dd {
    padding-left: 40px
}

td, th {
    padding: 1px
;
}

a:link, a:visited {
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

fieldset {
    margin: 10px 0 10px 0;
    padding: 0 10px 10px 10px;
    border: 1px solid #c8c8c8
}

legend {
    padding: 0 10px 0 10px;
    background: #fff
}

form
div {
    margin: 10px 0 10px 0
}

textarea {
    padding: 1px 0 1px 5px
}

option {
    padding: 0 0 1px 5px
}

input[type='hidden'] {
    display: none
}

input[type='text'], input[type='password'] {
    padding: 1px 0 1px 5px
}

button, input[type='button'], input[type='submit'] {
    padding: 2px 4px 2px 1px;
    line-height: 100%
}

input[type='button'], input[type='submit'], input[type='checkbox'], input[type='image'], input[type='radio'], input[type='reset'], select, button {
    cursor: pointer
}

textarea, input[type='text'], input[type='password'], select {
    border: 1px solid #c8c8c8;
    background: #fff
}

textarea:hover, input[type='text']:hover, input[type='password']:hover, select:hover {
    border-color: #aaa
}

textarea:focus, input[type='text']:focus, input[type='password']:focus, select:focus {
    border-color: #8c8c8c;
    outline: 2px solid #dcdcdc
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 40px;
    font-weight: normal
}

h1 {
    font-size: 36px;
    line-height: 36px;
    margin-top: 25px
}

h2 {
    font-size: 24px;
    line-height: 24px;
    margin-top: 25px
}

h3 {
    font-size: 18px;
    line-height: 18px;
    margin-top: 15px
}

h4 {
    font-size: 16px;
    line-height: 16px;
    margin-top: 15px
}

h5 {
    font-size: 14px;
    line-height: 14px;
    margin-top: 10px
}

h6 {
    font-size: 14px;
    line-height: 14px;
    margin-top: 10px
}

hr {
    margin: 0px 0 -20px 0;
    display: block;
    background: #c8c8c8;
    height: 1px;
    border: none
}

q {
    font-style: italic
}

blockquote {
    margin: 10px 0 10px 15px;
    font-style: italic;
    font-size: 130%
}

blockquote>*:first-child:first-letter {
    font-size: 150%
}


fieldset {
    border: 1px solid #323232
}

textarea, input[type='text'], input[type='password'], select {
    border: 1px solid #323232;
    background: #141414;
    color: #646464
}

textarea:hover, input[type='text']:hover, input[type='password']:hover, select:hover {
    border-color: #464646
}

textarea:focus, input[type='text']:focus, input[type='password']:focus, select:focus {
    border-color: #646464;
    outline: 2px solid #282828
}

hr {
    border-top: 1px dotted #fff;
    color: #fff;
    background-color: transparent;
    height: 1px;
    width: 100%;
}

blockquote {
    border-top: 1px solid #323232;
    border-bottom: 1px solid #323232
}

pre {
    border: 1px dotted #3c3c50;
    border-left: 20px solid #323232;
    background: #232328
}

acronym, abbr {
    border-bottom: 1px dashed #969696
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    position: relative
}

.wrapper {
    margin: auto
}

#header {
    margin: 0px 15px 40px 15px;
    padding: 0px 0px 0px 0px;
    position: relative;
    z-index: 10;
    clear: both
;
    height: 296px;
}

#top {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    overflow: hidden;
    clear: both
}

#middle {
    clear: both;
    min-height: 300px
}

#bottom {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    overflow: hidden;
    clear: both
}

#footer {
    position: relative;
    margin: 0 15px 0 15px;
    padding: 20px 0 20px 0;
    clear: both;
    color: #5A5C5E;
    font-size: 10px;
    text-align: center
}


#middle-expand {
    width: 200%
}

#main {
    position: relative;
    left: 50%;
    width: 50%;
    float: left
}

#main-shift {
    position: relative;
    left: -100%;
    overflow: hidden
}

#left {
    position: relative;
    left: -50%;
    float: left;
    overflow: hidden
}

#right {
    position: relative;
    float: left;
    overflow: hidden
}

#maintop, #contenttop {
    overflow: hidden;
    width: 740px;
    margin: 0 auto;
}

#mainmiddle-expand {
    width: 200%
}

#content {
    position: relative;
    left: 50%;
    width: 50%;
    float: left
}

#content-shift {
    position: relative;
    left: -100%;
    overflow: hidden
}

#contentleft {
    position: relative;
    left: -50%;
    float: left;
    overflow: hidden
}

#contentright {
    position: relative;
    float: left;
    overflow: hidden
}

.floatbox {
    overflow: hidden
}

.float-left {
    float: left;
    overflow: hidden
}

.float-right {
    float: right;
    overflow: hidden
}

.width15 {
    width: 15%
}

.width18 {
    width: 18%
}

.width20 {
    width: 20%
}

.width23 {
    width: 23%
}

.width25 {
    width: 25%
}

.width33 {
    width: 33%
}

.width34 {
    width: 34%
}

.width35 {
    width: 35%
}

.width40 {
    width: 40%
}

.width46 {
    width: 46%
}

.width50 {
    width: 50%
}

.width54 {
    width: 54%
}

.width57 {
    width: 57%
}

.width65 {
    width: 65%
}

.width67 {
    width: 67%
}

.width75 {
    width: 75%
}

.width100 {
    width: 100%
}

#top>.vertical, #bottom>.vertical {
    float: left
}

body.yoopage {
    background: #0E0F0F
}

#page-body .page-body-1 {
    padding-bottom: 40px;
    background-position: 50% 0px;
    background-repeat: repeat-x
}

#page-body {
    background-color: #141516;
    background-position: 50% 0px;
    background-repeat: repeat-x
}

#absolute {
    position: absolute;
    z-index: 15;
    top: 0px;
    left: 0px;
    width: 100%
}

#toolbar {
    height: 40px;
    padding: 0px 220px 0px 0px;
    overflow: hidden;
    color: #605B5B;
    line-height: 40px;
    font-size: 11px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 1)
}

#date {
    padding: 0px 10px 0px 0px;
    float: left
}

#headerbar {
    padding: 0px 0px 75px 0px;
    min-height: 300px;
    overflow: hidden
}

#logo {
    position: absolute;
    top: 40px;
    left: 50%;
}

div.menubar {
    position: absolute;
    bottom: 0px;
    left: 110px;
    right: 0px;
    height: 0px;
}

#menu {
    position: relative;
    margin: 0px auto;
}

#banner {
    position: absolute;
    top: 138px;
    right: -43px;
    width: 0px;
    z-index: 3
}

#footer a.anchor:hover {
    background-position: 0 -40px
}

#component {
    margin-left: 15px;
    margin-right: 15px
}

#left div.left-1,
#contentleft div.contentleft-1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-right: 1px solid #222426
}

#right div.right-1,
#contentright div.contentright-1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-left: 1px solid #222426
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    font-weight: normal;
    color: #F2F1F0
}

#page h1
a {
    color: #F2F1F0;
    text-decoration: none
}

h2 {
    color: #68ACF8
}

h3 {
    color: #F2F1F0
}

h4 {
    color: #68ACF8
}

h5 {
    color: #F2F1F0
}

h6 {
    color: #68ACF8
}

h1 {
    font-size: 44px;
    line-height: 5px;
    padding-top: 35px;
}

h2 {
    font-size: 28px;
    line-height: 24px
}

a:link, a:visited {
    color: #fff;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

em.box {
    padding: 0px 3px 0px 3px;
    border: 1px dotted #2F3235;
    background: #000;
    font-family: "Courier New", Courier, monospace;
    font-style: normal;
    white-space: nowrap
}

ul.arrow, ul.checkbox, ul.check, ul.star {
    margin: 10px 0px 10px 0px;
    padding-left: 20px;
    list-style: none
}

ul.arrow li,
ul.checkbox li,
ul.check li,
ul.star
li {
    margin: 5px 0px 5px 0px;
    padding-left: 35px;
    font-weight: bold;
    line-height: 26px
}

ul.links {
    margin: 10px 0px 20px 0px;
    padding-left: 0px;
    list-style: none
}

.module
ul.links {
    margin: 0
}

ul.links li:first-child {
    border: none
}

ul.links li:hover {
    background-position: 0px -40px
}

#page ul.links li
a {
    display: block;
    color: #7F8384;
    text-decoration: none
}

#page ul.links li a:hover {
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 1), 0 0 7px rgba(255, 255, 255, 1)
}

ol.disc
li {
    margin: 5px 0px 5px 0px;
    padding-left: 10px;
    font-weight: bold;
    line-height: 26px
}

span.note, span.info, span.alert, span.download, span.tip {
    display: block
}

div.note, span.note {
    color: #969FAA;
    margin: 10px 0px 10px 0px;
    padding: 5px 10px 5px 10px;
    background: #212E3C;
    border-top: 1px solid #283B50;
    border-bottom: 1px solid #283B50;
    text-align: justify
}

div.info, span.info, div.alert, span.alert, div.download, span.download, div.tip, span.tip {
    color: #969FAA;
    margin: 10px 0px 10px 0px;
    padding: 8px 10px 8px 40px
}

p.dropcap:first-letter {
    display: block;
    margin: 7px 4px 0px 0px;
    float: left;
    font-size: 280%;
    font-family: Georgia, "Times New Roman", Times, serif
}

blockquote {
    font-family: Georgia, "Times New Roman", Times, serif
}

q.blockquote {
    margin: 10px 0 10px 15px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 120%
}

q.blockquote:first-letter {
    font-size: 150%
}

q.blockquote:before, q.blockquote:after {
    content: ""
}

body .inset-left {
    margin: 15px 15px 10px 0px;
    float: left
}

body .inset-right {
    margin: 15px 0px 10px 15px;
    float: right
}

.webfonts #menu a.level1 span.bg,
.webfonts #menu span.level1 span.bg,
.webfonts .warpspotlight.fade.color h3 span.title,
.webfonts .warpspotlight.bottom h3,
.webfonts .module h3.header,
.webfonts div.mod-line-header-center h3.header span.subtitle,
.webfonts #system
.title {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    letter-spacing: 0px
}

.webfonts #menu a.level1 span.bg,
.webfonts #menu span.level1 span.bg,
.webfonts .module h3.header,
.webfonts .module h3.header span.title,
.webfonts div.mod-line-header-center h3.header
span.subtitle {
    font-size: 34px;
}

.webfonts #menu a.level1 span.subtitle,
.webfonts #menu span.level1
span.subtitle {
    margin-top: -2px;
    font-size: 14px
}

.webfonts #menu li.level1:hover .level1 span.bg,
.webfonts #menu li.remain .level1 span.bg,
.webfonts #menu li.active .level1
span.bg {
    background-position: 0 33px
}

.webfonts #menu a.level1 span.title,
.webfonts #menu span.level1
span.title {
    font-size: 18px;
    line-height: 22px
}

.webfonts div.mod-line h3.header,
.webfonts div.mod-line h3.header span.title,
.webfonts #system
.title {
    font-size: 38px;
    line-height: 40px
}

.webfonts .module h3.header
span.subtitle {
    font-size: 16px;
    line-height: 18px
}

.webfonts div.mod-line-header-center h3.header,
.webfonts div.mod-line-header-center h3.header
span.subtitle {
    font-size: 24px;
    line-height: 26px
}

.webfonts div.mod-line-header-center h3.header
span.title {
    font-size: 15px;
    line-height: 18px
}

#toolbar ul.menu,
#footer
ul.menu {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    list-style: none
}

#menu
ul {
    margin: 0px;
    padding: 0px;
    list-style: none
}

#menu
li {
    position: relative;
    margin: 0px;
    padding: 0px
}

#menu a,
#menu
span {
    display: block
}

#menu
a {
    text-decoration: none
}

#menu
span.icon {
    background-repeat: no-repeat;
    background-position: 0 50%
}

#menu ul.menu,
#menu
li.level1 {
    margin: 0px auto;
}

#menu a.level1,
#menu
span.level1 {
    float: left;
    margin: 0 40px 0 25px;
}

#menu .first a.level1,
#menu .first
span.level1 {
    padding-left: 25px;
    border: none
}

#menu li.active .level1
span.bg {
    color: #FFF;
    font-weight: lighter;
}

#menu a.level1 span.title,
#menu span.level1
span.title {
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0px
}

#menu a.level1 span.subtitle,
#menu span.level1
span.subtitle {
    margin-top: -5px;
    font-size: 9px;
    font-weight: normal;
    line-height: 10px;
    text-transform: none;
    text-align: center;
    letter-spacing: 0px
}

#menu
.dropdown {
    position: absolute;
    top: 40px;
    left: -999em;
    z-index: 100
}

#menu li:hover .dropdown,
#menu li.remain
.dropdown {
    left: 0px
}

#menu
.sub {
    padding: 0px 0px 15px 0px
}

#menu .columns2
ul.level2 {
    width: 50%
}

#menu .columns3
ul.level2 {
    width: 34%
}

#menu .columns3 ul.first,
#menu .columns3
ul.last {
    width: 33%
}

#menu .columns4
ul.level2 {
    width: 25%
}

div.mod-menu
ul {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    list-style: none
}

div.mod-menu ul.menu
li {
    margin: 0px;
    padding: 0px
}

div.mod-menu ul.menu a,
div.mod-menu ul.menu
span {
    display: block
}

div.mod-menu ul.menu
a {
    text-decoration: none
}

div.mod-menu ul.menu
span.icon {
    background-repeat: no-repeat;
    background-position: 5px 50%;
    text-indent: 35px
}

div.mod-menu ul.menu li.parent
span.separator {
    cursor: pointer
}

div.mod-menu ul.menu
span.subtitle {
    display: none
}

div.mod-line ul.menu
span.bg {
    height: 40px;
    line-height: 40px;
    text-indent: 5px;
    color: #AAACAE;
    font-size: 14px
}

div.mod-line ul.menu a.current
span.bg {
    color: #68ACF8
}

div.mod-line ul.menu a:hover span.bg,
div.mod-line ul.menu span:hover
span.bg {
    color: #FFF;
    text-shadow: 0 0 1px rgba(0, 0, 0, 1), 0 0 7px rgba(255, 255, 255, 1)
}

div.mod-line ul.menu
li.level1 {
    border-top: 1px solid #222426;
    z-index: 2
}

div.mod-line ul.menu
li.level1.first {
    border: none
}

#right div.mod-line ul.menu li.level1,
#contentright div.mod-line ul.menu
li.level1 {
    margin-left: 15px
}

#left div.mod-line ul.menu li.level1,
#contentleft div.mod-line ul.menu
li.level1 {
    margin-right: 15px
}

div.mod-line ul.menu li.parent:hover .level1
span.bg {
    background-position: 100% -40px
}

div.mod-line ul.menu li.parent.active .level1
span.bg {
    background-position: 100% -80px
}

div.mod-line ul.menu li.parent.active .level1:hover
span.bg {
    background-position: 100% -120px
}

div.mod-line ul.menu
ul.level2 {
    padding: 0px 0px 15px 0px
}

div.mod-line ul.menu
li.level2 {
}

div.mod-line ul.menu li.level2 a:hover {
}


div.mod-line ul.menu li.level1 li.level2 span.bg:hover {
    background-position: 0 -38px
}

div.mod-line ul.menu li.level2 a.current
span.bg {
    background-position: 0 -76px
}

div.mod-line ul.menu a.level3
span.bg {
    margin-left: 18px
}

div.mod-line ul.menu a.level4
span.bg {
    margin-left: 36px
}

.module
h3.header {
    margin: 0px 0px 10px 0px;
    padding: 0px;
    font-size: 22px;
    line-height: 24px;
    color: #F2F1F0;
    font-weight: normal
}

.module h3.header
span.title {
    display: block;
    font-size: 18px;
    line-height: 22px
}

.module h3.header
span.subtitle {
    display: block;
    margin-top: 10px;
    line-height: 14px;
    font-size: 13px;
    font-weight: normal;
    text-indent: 1px
}

#top .module,
#maintop .module,
#contenttop .module,
#contentbottom .module,
#mainbottom .module,
#bottom
.module {
    padding-left: 0px;
    padding-right: 0px;
}

#left .module,
#right .module,
#contentleft .module,
#contentright
.module {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px
}

#left div.last,
#right div.last,
#contentleft div.last,
#contentright
div.last {
    margin-bottom: 0px
}

#top .module,
#maintop .module,
#contenttop
.module {
    margin-bottom: 30px
}

#bottom .module,
#mainbottom .module,
#contentbottom
.module {
    margin-top: 30px
}

#toolbar .left .module,
#headerbar .left
.module {
    margin-right: 15px;
    float: left
}

#toolbar .right .module,
#headerbar .right
.module {
    margin-left: 15px;
    float: right
}

div.mod-blank {
    overflow: hidden
}

#menu ul.mod-dropdown {
    padding-left: 0px;
    background: none
}

#menu ul.mod-dropdown span.level1
span.color {
    display: inline
}

#menu .mod-dropdown
.module {
    padding: 5px;
    overflow: hidden
}

#menu .mod-dropdown
.dropdown {
    width: 300px
}

div.mod-box div.box-1 {
    padding: 19px;
    border: 1px solid #222426;
    background: #141516;
    overflow: hidden;
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4)
}

div.mod-box-black div.box-1 {
    background-color: #000
}

div.mod-box-grey div.box-1 {
    background-color: #222426
}

div.mod-frame div.box-2 {
    padding: 10px
}

div.mod-frame div.box-3 {
    padding: 10px;
    background: #141516;
    overflow: hidden
}

div.mod-frame-glitter div.box-3 {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 1);
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 1)
}

div.mod-line div.box-1 {
    padding-top: 14px;
    border-top: 1px solid #222426;
    overflow: hidden
}

.vertical div.mod-line.first div.box-1,
.horizontal div.mod-line div.box-1 {
    padding-top: 0px;
    border-top: none
}

.horizontal div.mod-line.last {
    background: none
}

div.mod-line h3.header,
div.mod-line h3.header
span.title {
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: -1px;
    line-height: 28px
}

div.mod-line h3.header
span.subtitle {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 16px;
    line-height: 18px;
    color: #68ACF8;
    text-transform: none;
    letter-spacing: 0px
}

div.mod-line-header-center h3.header,
div.mod-line-header-center h3.header
span.subtitle {
    font-size: 22px;
    line-height: 24px;
    text-align: center
}

div.mod-line-header-center h3.header
span.title {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 15px;
    line-height: 18px;
    color: #AAB3BE;
    text-transform: none;
    letter-spacing: 0px
}

div.mod-line-header-center h3.header
span.subtitle {
    margin-top: 3px;
    font-family: Arial, Helvetica, sans-serif;
    color: #F2F1F0;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: -1px
}

#right div.mod-menu-line,
#contentright div.mod-menu-line {
    padding-left: 0px
}

#left div.mod-menu-line,
#contentleft div.mod-menu-line {
    padding-right: 0px
}

#right div.mod-menu-line div.box-1 h3.header,
#contentright div.mod-menu-line div.box-1
h3.header {
    margin-left: 15px
}

#left div.mod-menu-line div.box-1 h3.header,
#contentleft div.mod-menu-line div.box-1
h3.header {
    margin-right: 15px
}

div.mod-polaroid div.box-2 {
    margin-bottom: 5px;
    background: #000
}

div.mod-polaroid div.box-3 {
    padding: 10px 15px 10px 15px;
    overflow: hidden;
    font-family: "Comic Sans MS", "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-style: italic;
    color: #C8C8C8
}

div.mod-polaroid div.box-b2 {
    padding: 0px 70px 0px 70px;
    background-position: 100% -5px
}

div.mod-polaroid div.box-b3 {
    height: 5px;
    background-position: 0 -10px;
    background-repeat: repeat-x
}

div.mod-polaroid
h3.header {
    height: 25px;
    margin: 0px 0px 0px 0px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -1px;
    font-family: "Comic Sans MS", "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-style: italic;
    color: #323232;
    text-shadow: none
}

div.mod-postit div.box-1 {
    background: #FFA;
    color: #323232
}

div.mod-postit div.box-2 {
    padding: 15px 15px 0px 15px;
    overflow: hidden;
    font-family: "Comic Sans MS", "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-style: italic
}

div.mod-postit div.box-b2 {
    padding: 0px 90px 0px 60px;
    background-position: 100% -40px
}

div.mod-postit div.box-b3 {
    height: 40px;
    background-position: 0 -80px;
    background-repeat: repeat-x
}

div.mod-postit
h3.header {
    height: 30px;
    margin: -15px -15px 5px -15px;
    background: #FFFFDA;
    line-height: 30px;
    text-indent: 15px;
    letter-spacing: -1px;
    font-family: "Comic Sans MS", "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-style: italic;
    color: #323232;
    text-shadow: none
}

img.align-left, img.alignleft {
    margin-right: 15px;
    float: left
}

img.align-right, img.alignright {
    margin-left: 15px;
    float: right
}

img.align-center {
    display: block;
    margin: auto;
    margin-bottom: 10px
}

.fluid-image {
    display: block
}

.fluid-image
img {
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0
}

table.zebra {
    width: 100%
}

table.zebra
th {
    font-size: 14px;
    font-weight: normal
}

table.zebra th,
table.zebra
td {
    padding: 5px;
    border-bottom: 1px solid #dcdcdc
}

table.zebra
tbody {
    font-size: 11px
}

table.zebra tbody
tr.odd {
    background: #f7f7f7
}

table.zebra tbody tr:nth-of-type(odd) {
    background: #f7f7f7
}

table.zebra tbody
tr.even {
}

table.zebra tbody tr:nth-of-type(even) {
}

table.zebra
.bold {
    font-weight: bold
}

table.zebra td
* {
    vertical-align: middle
}

ul.blank {
    margin: 0;
    padding: 0;
    list-style: none
}

ul.space
li {
    margin-top: 15px
}

ul.space li:first-child {
    margin-top: 0
}

ul.line {
    margin: 0;
    padding: 0;
    list-style: none
}

ul.line>li {
    margin: 5px 0 0 0;
    padding: 6px 0 0 0;
    border-top: 1px dotted #c8c8c8;
    overflow: hidden
}

ul.line>li:first-child {
    margin: 0;
    padding: 0;
    border: none
}

ul.line>li.odd, ul.line>li:nth-of-type(odd) {
}

ul.line>li.even, ul.line>li:nth-of-type(even) {
}

ul.line>li>*:first-child {
    margin-top: 0
}

.breadcrumbs {
    overflow: hidden
}

.breadcrumbs a,
.breadcrumbs span,
.breadcrumbs
strong {
    display: inline-block;
    text-decoration: none
}

.breadcrumbs a, .breadcrumbs>span {
    margin-right: 10px
}

a.readmore {
    display: inline-block;
    height: 25px;
    padding: 0 10px 0 10px;
    border: 1px solid #c8c8c8;
    line-height: 25px;
    color: #323232;
    text-decoration: none
}

ul.line.comments
.avatar {
    margin-right: 10px;
    float: left
}

ul.line.comments
h3.author {
    margin: 2px 0 0 0;
    font-size: 12px;
    line-height: 18px
}

ul.line.comments
p.meta {
    margin: 0;
    font-size: 11px;
    color: #969696;
    line-height: 13px;
    font-style: italic
}

ul.line.comments .content
p {
    margin: 5px 0 0 0
}

table.calendar {
    width: 100%;
    margin: auto;
    border-spacing: 2px;
    border-left: 5px solid #e6e6e6;
    border-right: 5px solid #e6e6e6;
    background: #e6e6e6
}

table.calendar
caption {
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 1px
}

table.calendar
th {
    width: 14%
}

table.calendar th,
table.calendar
td {
    padding: 0;
    text-align: center;
    line-height: 25px
}

table.calendar td
a {
    display: block;
    line-height: 25px
}

table.calendar tbody
td {
    background: #fff
}

table.calendar tfoot
td {
    text-align: right
}

table.calendar tfoot td:first-child {
    text-align: left
}

table.zebra th,
table.zebra
td {
    padding: 9px;
    border-bottom: 1px solid #222426
}

table.zebra tbody
tr.odd {
    background: #1B1C1D
}

table.zebra tbody tr:nth-of-type(odd) {
    background: #1B1C1D
}

table.zebra tbody
tr.even {
    background: #111112
}

table.zebra tbody tr:nth-of-type(even) {
    background: #111112
}

ul.line>li {
    border-top-style: solid;
    border-color: #222426;
    color: #7F8384
}

ul.line li
a {
    color: #7F8384;
    text-decoration: none
}

ul.line li a:hover {
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 1), 0 0 7px rgba(255, 255, 255, 1)
}

a.readmore {
    height: 24px;
    padding: 0 15px 0 15px;
    border-color: #3C3D3E;
    background: #28292A;
    line-height: 24px;
    font-size: 10px;
    color: #F2F1F0;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 1);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px
}

#page a.readmore:hover {
    border-color: #5793D5;
    background-color: #5793D5;
    color: #FFF
}

#system .author-box {
    border-color: #222426;
    background-color: #191A1B
}

#system .author-box
.avatar {
    border-color: #222426;
    background-color: #222426
}

#system .author-box
.name {
    color: #F2F1F0;
    text-shadow: none
}

div#comments h3.comments-meta,
div#comments .comment-head .author,
div#comments #respond
h2 {
    color: #F2F1F0;
    text-shadow: none
}

div#comments .comment-head {
    border-color: #222426;
    background-color: #191A1B
}

div#comments .comment-byadmin .comment-head {
    border-color: #3E4A32;
    background-color: #303829
}

.background-disco #page-body .page-body-1 {
    background-image: url("/imagesDefault/disco_img.png");
    background-size: 1920px;
}

.background-disco.style-red #page-body {
    background-image: url("/imagesDefault/disco_bg-1.jpg");
    background-size: 570px;
}

.nobganimation #page-body {
    background-repeat: no-repeat
}

.nobganimation #page-body .page-body-1 {
    background: none
}

body.font-lucida,
.font-lucida h1,
.font-lucida h2,
.font-lucida h3,
.font-lucida h4,
.font-lucida h5,
.font-lucida h6,
.font-lucida div.mod-line-header-center h3.header
span.subtitle {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif
}

body.font-georgia,
.font-georgia h1,
.font-georgia h2,
.font-georgia h3,
.font-georgia h4,
.font-georgia h5,
.font-georgia h6,
.font-georgia div.mod-line-header-center h3.header
span.subtitle {
    font-family: Georgia, "Times New Roman", Times, serif
}

body.font-trebuchet,
.font-trebuchet h1,
.font-trebuchet h2,
.font-trebuchet h3,
.font-trebuchet h4,
.font-trebuchet h5,
.font-trebuchet h6,
.font-trebuchet div.mod-line-header-center h3.header
span.subtitle {
    font-family: "Trebuchet MS", Verdana, Arial, sans-serif
}

h2, h4, h6 {
    color: #fff;
}

#menu li.level2 .current
span.bg {
    color: #A0C373
}

div.mod-line ul.menu a.current
span.bg {
    color: #A0C373
}

div.mod-line ul.menu a:hover span.bg,
div.mod-line ul.menu span:hover
span.bg {
    color: #FFF
}

div.mod-frame-glitter div.box-2 {
    background: url("/imagesDefault/module_frame_glitter_bg-6.png");
}

div.mod-line h3.header
span.subtitle {
    color: #A0C373
}

#system .item > .links a:hover,
#page a.readmore:hover {
    border-color: #91B450;
    background-color: #91B450
}

#logo a.logo-icon {
    display: block;
    width: 512px;
    height: 215px;
    margin-left: -256px;
    background: url("/imagesDefault/logo.png") 0 0 no-repeat
}

#toolbar a.rss,
#toolbar
a.twitter {
    display: inline-block;
    margin-top: 7px
}

.top-teaser
.icon {
    width: 62px;
    height: 62px;
    margin-right: 7px;
    float: left
}

.style-red .top-teaser
.icon {
    background-color: #DA4545
}

.top-teaser {
    text-transform: uppercase
}

.top-teaser
h1 {
    margin: 10px 0 5px 0
}

.webfonts .top-teaser
h1 {
    font-family: 'Yanone Kaffeesatz';
    font-size: 30px
}

.top-teaser
p {
    margin: 0 0 10px 0;
    line-height: 15px
}

.about-us,
.services,
.footer {
    width: 740px;
    margin: 0 auto;
    text-align: justify;
}

.center {
    text-align: center;
}

.height60 {
    height: 60px;
}

.horizontal {
    display: inline-block;
}

.top {
    vertical-align: top;
}

.width32{
    width:32px;
}
.vertical-middle {
    vertical-align: middle;
}


.footer .column1 {

}

.footer .column2 {
    float: right;
}

.footer .column3 {
    float: left;
}

.footer p {
    font-size: 16px;
    margin: 0 0 10px 7px;
}

.margin0555{
    margin: 0px 5px 5px 5px;
}

.up-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 20px;
}

.up-button:hover {
    text-decoration: none;
    background: #000;
    opacity: 0.8;
}

.service {
    text-align: justify;
    font-size: 16px;
    opacity: 0.8;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 150%;
}